body {
  font-family: "Source Sans Pro", sans-serif;
}

/* Temporary solution for a centered modal spinner. */
[role="dialog"] {
  background-color: transparent !important;
  overflow: hidden !important;
  box-shadow: none !important;
}
